# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
gunicorn=19.1.0=py27_0
numpy=1.9.2=py27_0
pymongo=2.8=py27_0
python=2.7.10=0
python-dateutil=2.4.2=py27_0
pytz=2015.4=py27_0
readline=6.2=2
scipy=0.15.1=np19py27_0
setuptools=18.0.1=py27_0
sqlite=3.8.4.1=1
ssl_match_hostname=3.4.0.2=py27_0
tk=8.5.18=0
tornado=4.2=py27_0
zlib=1.2.8=0
